body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1282px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1282px;
  height:876px;
  overflow:hidden;
}
#u826_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1282px;
  height:876px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
}
#u826_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:32px;
  width:29px;
  height:19px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:704px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:360px;
  height:704px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:344px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:27px;
  width:97px;
  height:30px;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:33px;
  width:80px;
  height:18px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:30px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:27px;
  width:55px;
  height:30px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:7px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:38px;
  width:26px;
  height:7px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:76px;
  width:300px;
  height:170px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:256px;
  width:300px;
  height:81px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:602px;
  width:69px;
  height:15px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:618px;
  width:326px;
  height:1px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:24px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:568px;
  width:22px;
  height:24px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:574px;
  width:25px;
  height:15px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:550px;
  width:169px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:597px;
  width:18px;
  height:18px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:601px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:627px;
  width:30px;
  height:30px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u859_ann {
  border-width:0px;
  position:absolute;
  left:43px;
  top:623px;
  width:1px;
  height:1px;
}
#u861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:634px;
  width:85px;
  height:16px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u863 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:635px;
  width:67px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u863_ann {
  border-width:0px;
  position:absolute;
  left:332px;
  top:631px;
  width:1px;
  height:1px;
}
#u865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:667px;
  width:300px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(235, 235, 235, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:765px;
  width:360px;
  height:48px;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:2px;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:695px;
  width:194px;
  height:1px;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:801px;
  width:360px;
  height:48px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:810px;
  width:99px;
  height:30px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:810px;
  width:99px;
  height:30px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:31px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:810px;
  width:99px;
  height:30px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:703px;
  width:30px;
  height:30px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:710px;
  width:85px;
  height:16px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:711px;
  width:67px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u885_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:736px;
  width:300px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:775px;
  width:85px;
  height:20px;
  font-family:'黑体 Regular', '黑体';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:2px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:785px;
  width:33px;
  height:1px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:2px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:785px;
  width:40px;
  height:1px;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:706px;
  width:40px;
  height:40px;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:756px;
  width:40px;
  height:40px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:712px;
  width:20px;
  height:12px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:724px;
  width:41px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:758px;
  width:41px;
  height:38px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  word-wrap:break-word;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:128px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:347px;
  width:240px;
  height:128px;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:56px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_ann {
  border-width:0px;
  position:absolute;
  left:289px;
  top:343px;
  width:1px;
  height:1px;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:399px;
  width:25px;
  height:25px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:483px;
  width:300px;
  height:57px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:367px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u910 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:298px;
  width:272px;
  height:367px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:252px;
  word-wrap:break-word;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:27px;
  width:50px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
