body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1646px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1646px;
  height:867px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1646px;
  height:867px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:426px;
  width:1642px;
  visibility:hidden;
  word-wrap:break-word;
}
